html{
    box-sizing: border-box;
    font-size: 100%;
}

body{
    background-color:cadetblue;
    font-family: "poppins", sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
}

h1{
    background-image: url('cadetblue.jpg');
    text-align:center;
    font-size: 50px;
    font-style:italic
}
#div1{
    background-color:white;
    padding: 0.5%;
    margin: 5%;
    box-shadow: 20px 20px 15px 2px;
    color:black;
    width: 500px;
}

location{
    font-size:large;
}

#para{
    margin-top:0%;
}

#div2{
    background-color:white;
    padding: 0.5%;
    margin: 5%;
    box-shadow: 20px 20px 15px 2px;
    color:black;
    width: 500px;
}

